# Dependencias
node_modules/

# Build de Next.js
.next/

# Archivos de entorno (variables secretas)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db
